<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ecommerce CMS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/cms">CMS</a>
         </li>
         <li class="nav-item active">
            <a class="nav-link" href="/">Shop</a>
         </li>
    </ul>
  </div>
</nav>
<div>
    <div class="page-header">
        <a href="<%= cm_widget_path(@theme) %>" class="btn btn-primary margin-button">Create widget</a>
    </div>
    <div>
      <%= render :inline => @detail.result(binding), :layout => false%>
      <%= render :inline => @hbody.result(binding), :layout => false%>
      <%= render :inline => @renderer.result(binding), :layout => false%>
    </div>
</div>